<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>宝贝守护者</name>
    <description>
       一个神奇的应用，小聂制作.
    </description>
    <author email="dev@callback.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
	<preference name="Fullscreen" value="true" />
	<preference name="Orientation" value="portrait" />
	 <feature name="Device">
        <param name="android-package" value="org.apache.cordova.device.Device" />
    </feature>
</widget>
